# [第2章: UNIXコマンドの基礎](http://www.cl.ecei.tohoku.ac.jp/nlp100/#ch2)
[hightemp.txt](http://www.cl.ecei.tohoku.ac.jp/nlp100/data/hightemp.txt)は，日本の最高気温の記録を「都道府県」「地点」「℃」「日」のタブ区切り形式で格納したファイルである．以下の処理を行うプログラムを作成し，hightemp.txtを入力ファイルとして実行せよ．さらに，同様の処理をUNIXコマンドでも実行し，プログラムの実行結果を確認せよ．

In [1]:
!cat ../Corpus/hightemp.txt

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10
和歌山県	かつらぎ	40.6	1994-08-08
静岡県	天竜	40.6	1994-08-04
山梨県	勝沼	40.5	2013-08-10
埼玉県	越谷	40.4	2007-08-16
群馬県	館林	40.3	2007-08-16
群馬県	上里見	40.3	1998-07-04
愛知県	愛西	40.3	1994-08-05
千葉県	牛久	40.2	2004-07-20
静岡県	佐久間	40.2	2001-07-24
愛媛県	宇和島	40.2	1927-07-22
山形県	酒田	40.1	1978-08-03
岐阜県	美濃	40	2007-08-16
群馬県	前橋	40	2001-07-24
千葉県	茂原	39.9	2013-08-11
埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

## 10. 行数のカウント
行数をカウントせよ．確認には`wc`コマンドを用いよ．

In [2]:
sum([1 for _ in open("../Corpus/hightemp.txt")])

24

In [3]:
!wc -l ../Corpus/hightemp.txt

24 ../Corpus/hightemp.txt

## 11. タブをスペースに置換
タブ1文字につきスペース1文字に置換せよ．確認には`sed`コマンド，`tr`コマンド，もしくは`expand`コマンドを用いよ．

In [4]:
with open("../Corpus/hightemp.txt") as hightemp:
    for line in hightemp:
        print(line.replace("\t", " "), end="")

高知県 江川崎 41 2013-08-12
埼玉県 熊谷 40.9 2007-08-16
岐阜県 多治見 40.9 2007-08-16
山形県 山形 40.8 1933-07-25
山梨県 甲府 40.7 2013-08-10
和歌山県 かつらぎ 40.6 1994-08-08
静岡県 天竜 40.6 1994-08-04
山梨県 勝沼 40.5 2013-08-10
埼玉県 越谷 40.4 2007-08-16
群馬県 館林 40.3 2007-08-16
群馬県 上里見 40.3 1998-07-04
愛知県 愛西 40.3 1994-08-05
千葉県 牛久 40.2 2004-07-20
静岡県 佐久間 40.2 2001-07-24
愛媛県 宇和島 40.2 1927-07-22
山形県 酒田 40.1 1978-08-03
岐阜県 美濃 40 2007-08-16
群馬県 前橋 40 2001-07-24
千葉県 茂原 39.9 2013-08-11
埼玉県 鳩山 39.9 1997-07-05
大阪府 豊中 39.9 1994-08-08
山梨県 大月 39.9 1990-07-19
山形県 鶴岡 39.9 1978-08-03
愛知県 名古屋 39.9 1942-08-02

In [5]:
!sed -e "s/\t/ /g" ../Corpus/hightemp.txt

高知県 江川崎 41 2013-08-12
埼玉県 熊谷 40.9 2007-08-16
岐阜県 多治見 40.9 2007-08-16
山形県 山形 40.8 1933-07-25
山梨県 甲府 40.7 2013-08-10
和歌山県 かつらぎ 40.6 1994-08-08
静岡県 天竜 40.6 1994-08-04
山梨県 勝沼 40.5 2013-08-10
埼玉県 越谷 40.4 2007-08-16
群馬県 館林 40.3 2007-08-16
群馬県 上里見 40.3 1998-07-04
愛知県 愛西 40.3 1994-08-05
千葉県 牛久 40.2 2004-07-20
静岡県 佐久間 40.2 2001-07-24
愛媛県 宇和島 40.2 1927-07-22
山形県 酒田 40.1 1978-08-03
岐阜県 美濃 40 2007-08-16
群馬県 前橋 40 2001-07-24
千葉県 茂原 39.9 2013-08-11
埼玉県 鳩山 39.9 1997-07-05
大阪府 豊中 39.9 1994-08-08
山梨県 大月 39.9 1990-07-19
山形県 鶴岡 39.9 1978-08-03
愛知県 名古屋 39.9 1942-08-02

## 12. 1列目をcol1.txtに，2列目をcol2.txtに保存
各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認には`cut`コマンドを用いよ．

In [6]:
col1_lines, col2_lines = [], []

with open("../Corpus/hightemp.txt") as hightemp:
    for line in hightemp:
        col1_lines.append(line[0])
        col2_lines.append(line[1])

with open("Output/col1.txt", mode="w") as col1:
    col1.write("\n".join(col1_lines))

with open("Output/col2.txt", mode="w") as col2:
    col2.write("\n".join(col2_lines))

In [7]:
with open("Output/col1.txt") as col1:
    for line in col1:
        print(line, end="")

高
埼
岐
山
山
和
静
山
埼
群
群
愛
千
静
愛
山
岐
群
千
埼
大
山
山
愛

In [8]:
!cut -b 1-3 ../Corpus/hightemp.txt

高
埼
岐
山
山
和
静
山
埼
群
群
愛
千
静
愛
山
岐
群
千
埼
大
山
山
愛

In [9]:
with open("Output/col2.txt") as col2:
    for line in col2:
        print(line, end="")

知
玉
阜
形
梨
歌
岡
梨
玉
馬
馬
知
葉
岡
媛
形
阜
馬
葉
玉
阪
梨
形
知

In [10]:
!cut -b 4-6 ../Corpus/hightemp.txt

知
玉
阜
形
梨
歌
岡
梨
玉
馬
馬
知
葉
岡
媛
形
阜
馬
葉
玉
阪
梨
形
知

## 13. col1.txtとcol2.txtをマージ
12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認には`paste`コマンドを用いよ．

In [11]:
with open("Output/col1and2.txt", mode="w") as col1_and_2:
    for i, (col1_line, col2_line) in enumerate(zip(col1_lines, col2_lines)):
        col1_and_2.write("%s\t%s" % (col1_line, col2_line))
        if i < len(col1_lines)-1:
            col1_and_2.write("\n")

In [12]:
with open("Output/col1and2.txt") as col1_and_2:
    for line in col1_and_2:
        print(line, end="")

高	知
埼	玉
岐	阜
山	形
山	梨
和	歌
静	岡
山	梨
埼	玉
群	馬
群	馬
愛	知
千	葉
静	岡
愛	媛
山	形
岐	阜
群	馬
千	葉
埼	玉
大	阪
山	梨
山	形
愛	知

In [13]:
!paste Output/col1.txt Output/col2.txt

高	知
埼	玉
岐	阜
山	形
山	梨
和	歌
静	岡
山	梨
埼	玉
群	馬
群	馬
愛	知
千	葉
静	岡
愛	媛
山	形
岐	阜
群	馬
千	葉
埼	玉
大	阪
山	梨
山	形
愛	知

## 14. 先頭からN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認には`head`コマンドを用いよ．

In [14]:
def hightemp_head_n(n: int):
    with open("../Corpus/hightemp.txt") as hightemp:
        for idx, line in enumerate(hightemp):
            if idx == n:
                break
            print(line, end="")

In [15]:
hightemp_head_n(6)

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10
和歌山県	かつらぎ	40.6	1994-08-08

In [16]:
!head -6 ../Corpus/hightemp.txt

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10
和歌山県	かつらぎ	40.6	1994-08-08

## 15. 末尾のN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認には`tail`コマンドを用いよ．

In [17]:
def hightemp_tail_n(n: int):
    num = sum([1 for _ in open("../Corpus/hightemp.txt")])
    with open("../Corpus/hightemp.txt") as hightemp:
        for idx, line in enumerate(hightemp):
            if idx < num-n:
                continue
            print(line, end="")

In [18]:
hightemp_tail_n(6)

千葉県	茂原	39.9	2013-08-11
埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

In [19]:
!tail -6 ../Corpus/hightemp.txt

千葉県	茂原	39.9	2013-08-11
埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

## 16. ファイルをN分割する
自然数Nをコマンドライン引数などの手段で受け取り，入力のファイルを行単位でN分割せよ．同様の処理を`split`コマンドで実現せよ．

In [20]:
def hightemp_split_l(n: int):
    with open("../Corpus/hightemp.txt") as hightemp:
        for idx, line in enumerate(hightemp):
            if idx%n == 0:
                print()
            print(line, end="")

In [21]:
hightemp_split_l(7)

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10
和歌山県	かつらぎ	40.6	1994-08-08
静岡県	天竜	40.6	1994-08-04

山梨県	勝沼	40.5	2013-08-10
埼玉県	越谷	40.4	2007-08-16
群馬県	館林	40.3	2007-08-16
群馬県	上里見	40.3	1998-07-04
愛知県	愛西	40.3	1994-08-05
千葉県	牛久	40.2	2004-07-20
静岡県	佐久間	40.2	2001-07-24

愛媛県	宇和島	40.2	1927-07-22
山形県	酒田	40.1	1978-08-03
岐阜県	美濃	40	2007-08-16
群馬県	前橋	40	2001-07-24
千葉県	茂原	39.9	2013-08-11
埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08

山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

In [22]:
!split -l 7 ../Corpus/hightemp.txt Output/hightemp.txt

In [23]:
!for file in `ls Output/hightemp.txta*`; do cat ${file}; echo; done

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10
和歌山県	かつらぎ	40.6	1994-08-08
静岡県	天竜	40.6	1994-08-04

山梨県	勝沼	40.5	2013-08-10
埼玉県	越谷	40.4	2007-08-16
群馬県	館林	40.3	2007-08-16
群馬県	上里見	40.3	1998-07-04
愛知県	愛西	40.3	1994-08-05
千葉県	牛久	40.2	2004-07-20
静岡県	佐久間	40.2	2001-07-24

愛媛県	宇和島	40.2	1927-07-22
山形県	酒田	40.1	1978-08-03
岐阜県	美濃	40	2007-08-16
群馬県	前橋	40	2001-07-24
千葉県	茂原	39.9	2013-08-11
埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08

山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

## 17. １列目の文字列の異なり
1列目の文字列の種類（異なる文字列の集合）を求めよ．確認には`sort`, `uniq`コマンドを用いよ．

In [24]:
unique_words = set()

with open("Output/col1.txt") as col1:
    for line in col1:
        unique_words.add(line.replace("\n", ""))

In [25]:
for word in sorted(unique_words):
    print(word)

千
和
埼
大
山
岐
愛
群
静
高

In [26]:
!sort Output/col1.txt | uniq

千
和
埼
大
山
岐
愛
群
静
高

## 18. 各行を3コラム目の数値の降順にソート
各行を3コラム目の数値の逆順で整列せよ（注意: 各行の内容は変更せずに並び替えよ）．確認には`sort`コマンドを用いよ（この問題はコマンドで実行した時の結果と合わなくてもよい）．

In [27]:
import re

In [28]:
temperature2line = {}

with open("../Corpus/hightemp.txt") as hightemp:
    for line in hightemp:
        temperature = float(re.split("\t", line)[2])
        if temperature not in temperature2line:
            temperature2line[temperature] = []
        temperature2line[temperature].append(line)

In [29]:
for temperature in sorted(temperature2line.keys()):
    for line in temperature2line[temperature]:
        print(line, end="")

千葉県	茂原	39.9	2013-08-11
埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02
岐阜県	美濃	40	2007-08-16
群馬県	前橋	40	2001-07-24
山形県	酒田	40.1	1978-08-03
千葉県	牛久	40.2	2004-07-20
静岡県	佐久間	40.2	2001-07-24
愛媛県	宇和島	40.2	1927-07-22
群馬県	館林	40.3	2007-08-16
群馬県	上里見	40.3	1998-07-04
愛知県	愛西	40.3	1994-08-05
埼玉県	越谷	40.4	2007-08-16
山梨県	勝沼	40.5	2013-08-10
和歌山県	かつらぎ	40.6	1994-08-08
静岡県	天竜	40.6	1994-08-04
山梨県	甲府	40.7	2013-08-10
山形県	山形	40.8	1933-07-25
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
高知県	江川崎	41	2013-08-12

In [30]:
!sort -k 3 -b ../Corpus/hightemp.txt

愛知県	名古屋	39.9	1942-08-02
山形県	鶴岡	39.9	1978-08-03
山梨県	大月	39.9	1990-07-19
大阪府	豊中	39.9	1994-08-08
埼玉県	鳩山	39.9	1997-07-05
千葉県	茂原	39.9	2013-08-11
群馬県	前橋	40	2001-07-24
岐阜県	美濃	40	2007-08-16
山形県	酒田	40.1	1978-08-03
愛媛県	宇和島	40.2	1927-07-22
静岡県	佐久間	40.2	2001-07-24
千葉県	牛久	40.2	2004-07-20
愛知県	愛西	40.3	1994-08-05
群馬県	上里見	40.3	1998-07-04
群馬県	館林	40.3	2007-08-16
埼玉県	越谷	40.4	2007-08-16
山梨県	勝沼	40.5	2013-08-10
静岡県	天竜	40.6	1994-08-04
和歌山県	かつらぎ	40.6	1994-08-08
山梨県	甲府	40.7	2013-08-10
山形県	山形	40.8	1933-07-25
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
高知県	江川崎	41	2013-08-12

## 19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる
各行の1列目の文字列の出現頻度を求め，その高い順に並べて表示せよ．確認には`cut`, `uniq`, `sort`コマンドを用いよ．

In [31]:
char2times = {}

with open("Output/col1.txt") as hightemp:
    for line in hightemp:
        char = line.replace("\n", "")
        if char not in char2times:
            char2times[char] = 0
        char2times[char] += 1

In [32]:
for char, times in sorted(char2times.items(), key=lambda x: x[1], reverse=True):
    print("%d %s" % (times, char))

6 山
3 埼
3 群
3 愛
2 岐
2 静
2 千
1 高
1 和
1 大

In [38]:
!cut -b 1-3 ../Corpus/hightemp.txt | sort | uniq -c | sort -r

      6 山
      3 群
      3 愛
      3 埼
      2 静
      2 岐
      2 千
      1 高
      1 大
      1 和